/* colors */

:root {
	--purple: #9A0794;
	--orange: #FD3A0F;
	--green: #98CA32;
	--dark: #341109;
	--light: #F7D4F6;
}

.purple { color: var(--purple); border-color: var(--purple); }
.orange { color: var(--orange); border-color: var(--orange); }
.green { color: var(--green); border-color: var(--green); }
.dark { color: var(--dark); border-color: var(--dark); }
.light { color: var(--light); border-color: var(--light); }



/* tags */

html {
  font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
  background-color: black;
  color: var(--light);
}

a {
	color: var(--purple);
	cursor: pointer;
	text-decoration: none;
  transition: transform .2s;
}

a:hover, dt:hover {
  color: var(--green);
	transform: scale(1.05);
}

img, iframe {
	display: block;
	max-width: 90%;
}

button {
	background-color: transparent;
	color: var(--light);
	border: 0.25em solid var(--light);
	border-radius: 1em;
	padding: 0.5em 1em;
	margin: 0.5em;
	outline: none;
	transition: transform .2s;
}

button:hover {
	color: var(--green);
	border: 0.25em solid var(--green);
	transform: scale(1.1);
}

dt {
  color: var(--purple);
  transition: transform .2s;
  margin: 0.5em;
  width: max-content;
  cursor: pointer;
}


/* elements */

.container {
  padding: 1em;
}

.clickable {
	cursor: pointer;
}

.text-overflow {
  width: 25%;
}

.selected {
  color: var(--orange);
	border: 0.25em solid var(--orange);
}

.pull-right {
	margin-left: 1em;
}

#login, #loggedin, #complete, #error, #order-options, .info {
  display: none;
  margin: auto 1em;
}

#logo-image {
	max-width: 25%;
	margin: 1em auto;
}

#site-description {
	margin-bottom: 8em;
}

#remember-me {
	margin: 1em 0.5em;
}

#profile-image {
	max-width: 20%;
}

#logout-btn {
	float: right;
	clear: both;
}

#help-container {
	font-size: 0.75em;
}

#order-options {
	margin: 0.5em 0;
}

#shuffle-description {
	display: none;
	margin: 1em auto;
}

#description, #description-text {
	display: inline-block;
}

#playlist-container {
	display: none;
}


/* media queries */

@media screen and (min-width: 992px) {
	.container {
		margin: auto 4em;
		max-width: 50%;
	}
}
